# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\webservices_project-ws_j-group\database\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
