<%- include('header.ejs') %>
<link href="/stylesheets/createProject.css" rel="stylesheet">
<canvas id="myChart" height="35"></canvas>

<div>
    <button class="btn btn-primary">Upload a Project</button>
</div>

<%- include('footer.ejs') %>